*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
.container{
    padding: 0 4rem;
}
.mainHeader{
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.imgSection{
    width: 50%;
}
.imgSection>img{
    width: 80%;
}
.header-text{
    width: 50%;
}
.header-text h1{
    font-size: 4rem;
}
.header-text h1 span{
    color: #ff004f;
}
.sub-title{
    font-size: 4rem;
    font-weight: 600;
    color: #ababab;
    position: relative;
}
.sub-title::after{
    content: '';
    width: 20px;
	height: 20px;
    position: absolute;
    top: -2px;
    left: 20px;
    z-index: -1;
	border-radius: 0 70px;
    background: linear-gradient(#ff004f,rgb(48, 194, 48));
	transform: rotate(95deg);
}
nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}
.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(236, 63, 63);
  }
  .logo span{
    color: #fff;
  }
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1rem;
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* -------About-------- */

#about{
    padding: 5rem 0;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    width: 40%;
}
.about-col-1 img{
    width: 60%;
    border-radius: 50%;
    animation: slide 1s infinite linear alternate;
}
@keyframes slide{
    0%{
        box-shadow: 0 0 5px 5px #ff004f,
        0 0 40px #ababab;
    }
    100%{
        box-shadow: 0 0 5px 5px #ff004f;
    }
}
.about-col-2{
    width: 60%;
}
.tab-titles{
    margin: 0.5rem 0;
    font-weight: 600;
    color: #ff004f;
}
.tab-content li{
    margin: 1rem 0;
    color: #ababab;
}


/* -----------skill---------- */
#skill{
    padding: 2rem 0;
}
.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 3rem;
    margin-top: 3rem;
}
.skill-list div{
    text-align: center;
    background: #262626;
    color: #ff004f;
    box-shadow: 2px 2px 5px #ff004f;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 0.5rem;
    transition: background 0.5s,transform 0.5s;
}
.skill-list div i{
    font-size: 4rem;
    margin-bottom: 0.5rem;
}
.skill-list h2{
    font-size: 2rem;
    font-weight: 500;
}
.skill-list div:hover{
    color: #fff;
    transform: translateY(-10px);
}
/* ------project------- */

#project{
    padding: 3rem 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 3rem;
    margin-top: 4rem;
}
.work{
    background-color: #262626;
    box-shadow: 0 0 8px #ff004f;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.2s linear;
    
}
.work:hover{
    transform: translateY(-10px);
}
.work h1{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #ff004f;
    text-transform: capitalize;
}
.work-do{
    display: flex;
    justify-content: space-between;

}
.work-do p{
    margin-top: 1rem;
    color: #ababab;
}
.work-do i{
    color: #ff004f;
    margin: 1.5rem 1rem;
}
.work p{
    color: #ababab;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.btn{
    display: block;
    margin: 3rem auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 1rem 3rem;
    border-radius: .5rem;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

/* <!-----------contact---------  --> */
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-left{
    width: 40%;
}
.contact-right{
    width: 60%;
}
.contact-left p{
    margin-top: 1.2rem;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.social-icon{
    margin-top: 1.5rem;
}
.social-icon a{
    text-decoration: none;
    font-size: 2rem;
    margin-right: 1rem;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 1rem;
    margin: 0.6rem 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 1rem 4rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.copyrights{
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
    background: #262626;
    font-weight: 300;
    margin-top: 1rem;
}
.copyrights p{
    font-size: 1rem;
}
.copyrights a>i{
    font-size: 2rem;
    margin-left: 1rem;
}
.copyrights i{
    color: #ff004f;
}
nav .fa-solid{
    display: none;
    color: #c8babf;
}

/* ------------css for small screen---------------- */

@media only screen and (max-width: 768px){
    .container{
        padding: 0 2rem;
    }
    nav .fa-solid{
        display: block;
        font-size: 1.5rem;
        margin: 15px 35px;
    } 
    .imgSection{
        width: 100%;
    }
    .imgSection>img{
        width: 100%;
    }
    .header-text{
        width: 100%;
        margin-bottom: 1rem;
    }
    .header-text h1{
        font-size: 2rem;
    }
    nav ul{
        position: fixed;
        top: 0;
        background-color: #ff004f;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 2rem;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        margin: 1rem;
        padding: 0.5rem;
        display: block;
    }
    nav ul li a{
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 0.05rem;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 0;
        left: 1.6rem;
        cursor: pointer;
    }
    .sub-title{
        font-size: 3rem;
        z-index: -1;
    }
    .about-col-1{
        width: 100%;
        margin-bottom: 1rem;
    }
    .about-col-1>img{
        width: 80%;
        margin-left: 2rem;
    }
    .about-col-2{
        width: 100%;
        font-size: 1rem;
    }
    .skill-list h2{
        font-size: 1.5rem;
    }
    .contact-right{
        width: 100%;
    }
    .contact-left{
        width: 100%;
    }
}